.button {
  background-color: #383838;
  color: white;
  padding: 0.5rem 1.5rem;
  border: none;
  font-size: 1.1rem;
  font-weight: 300;
  font-style: italic;
}

.button svg {
  display: inline-block;
  padding-bottom: 2px;
}

.button:hover {
  background-color: #646464;
}
